body{
    background: blue;

}



.form{
    display: grid;
    grid-template-rows: 50px 100px 100px 100px 100px 100px;
    background-color: white;
    place-items: center;
    width: 700px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

}
.email{

}